<div>
  <label>Name: </label>
  <input #pizzaName/>
</div>
<div>
  <label>Description: </label>
  <input #pizzaDescription/>
</div>
<div>
  <label>Price: </label>
  <input #pizzaPrice/>
</div>
<div>
  <button (click)="save(pizzaName.value, pizzaDescription.value, pizzaPrice.value)">Save</button>
</div>
