.top-menu{
	position: fixed;
	left: -30px;
	top: -20px;
	width: 100%;
	list-style: none;
	background-color:#330066;
}

.top-menu li{
	float:left;
}

.top-menu a{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px 30px 0px 0px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 26px;
}
