.search-bar {
	margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
	margin-bottom:20px;
}

.form-control{
	width:218px;
}

body{
	margin-left: 20;
	margin-right:20;
}

label {
    text-align: center;
	vertical-align: middle;
	line-height: 33px;
    clear: both;
    float:left;
    margin-right:15px;
}

input{
	float:left;
}

button{
	margin-left: 2px;
	margin-top: 5px;
}


table{
	border: 1px solid black;
	max-width:90%;
}



